DB_HOST=postgres
DB_PORT=5432
DB_USER=administrator
DB_PASS=mysecretpassword
DB_NAME=products
CONTENTFUL_SPACE=<get_from_code_challenge>
CONTENTFUL_ENVIRONMENT=<get_from_code_challenge>
CONTENTFUL_ACCESS_TOKEN=<get_from_code_challenge>
CONTENTFUL_BASE_URL=https://cdn.contentful.com
JWT_SECRET=your_jwt_secret_key
JWT_EXPIRES_IN_SECONDS=3600
